<!-- <div class="center jumbotron"> -->
  <h1>Login</h1>
  <div class="jumbotron center">
 	 	<div class="container">
 	 		<%= form_for(:session, url: login_path) do |f| %>
 	 			<%= f.label :email, class: "usrpassformat" %>
 	 			<%= f.email_field :email, class: 'signup_field form-control', placeholder: "Enter Email" %>

 	 			<%= f.label :password, class: "usrpassformat" %>
 	 			<%= f.password_field :password, class: 'signup_field form-control', placeholder: "Enter Password" %> <br>


 	 			<!-- <input type="checkbox" checked="checked" id="c1" name="cc">
 	 			<label for="c1">Remember Me</label> <br> -->
 	 			<%= f.label :remember_me, class: "checkbox inline" do %>
 	 				<%= f.check_box :remember_me %>
 	 				<span>Remember me</span>
 	 			<% end %> <br> <br>

 	 			<%= f.submit "Log in", class: "btn btn-primary" %>
 	 			<%= f.submit "Forgot Password", class: "btn btn-primary" %>
 	 		<% end %> 
 	 		<!-- <label class="usrpassformat"><b>Username</b></label> <br>
 	 		<input type="text" placeholder="Enter Email" name="uname" required> <br>
	
 	 		<label class="usrpassformat"><b>Password</b></label> <br>
 	 		<input type="password" placeholder="Enter Password" name="psw" required> <br> -->

<!--  	 		<button type="submit" class="login">Login</button>
 	 		<button type="button" class="rmbpassword">Forgot Password</button> <br> -->

 	 		<!-- <span class="signup_link"><a href="signup_path"> Signup Now!</a></span> -->
 	 		<ul class="signup_link">
 	 			<strong> <%= link_to "Signup Now!", signup_path %> </strong>	
 	 		</ul>
 	 		

    		<!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
    		
  		</div>
  	</form>
<!-- </div> -->
